<h1 class="mt-4">
  <div class="row">
    {{#each courses}}
      <div class="col-sm-6 col-lg-4">
        <div class="card">
          <a href="/courses/{{this.slug}}">
            <img
              class="card-img-top"
              src="{{this.image}}"
              alt="Card image cap"
            />
          </a>
          <div class="card-body">
            <a href="/courses/{{this.slug}}">
              <h3 class="card-title">{{this.name}}</h3>
            </a>
            <h6 class="card-text">{{this.description}}</h6>
            <a href="#" class="btn btn-primary">Mua Ngay</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</h1>